body {
  font-family: sans-serif;
}
button {
  font-family: inherit;
}

form {
  margin-bottom: 40px;
}

.user-data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

ul {
  list-style: none;
  padding: 0;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
}

li {
  margin-bottom: 16px;
}
